html {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    margin:0px;
    padding: 0px;
}
html {
    background-color:#484f4f;
    color: ghostwhite;
}
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background: linear-gradient(70deg, rgba(140, 163, 163, 0.8), rgba(76, 95, 95, 0.8));
    position: fixed; 
    width: 100%; 
    padding:2% 3%;
    backdrop-filter: blur(5px);
    
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    
}


nav a {
    margin-left: 20px;
}

@media (max-width:562px) {
    header {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    h1 {
        width: 100%;
    }
    nav {
        justify-content: flex-start;
    }
    nav a {   
        margin-right: 20px;
        margin-left: 0px;
    }


}

@media (max-width:349px) {
    header {
        justify-content: flex-start;
    }
    h1 {
        width: 100%;
    }
    nav {
        justify-content: flex-start;
        flex-direction: column;
    }
    nav a {   
        margin-right: 20px;
        margin-left: 0px;
    }
}


a:link, a:visited{
    color: inherit;
    text-decoration: none;
}

section {
    display: flex;
    align-self: stretch;
    
}

.abstand {
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5);
    padding: 2% 0%;

}

footer {
    background-color: rgba(140, 163, 163, 0.8);
    width: 100%;
    height: 40px;
}

.ich { 

    display: flex;
    flex-direction:column;
    
}

.ich h2, .ich p {
   /*border: 1px solid red;*/
   text-align: center;
   padding: 1% 0%;
}

.interessen {
  display: flex;
  flex-direction: column;

}

h2, h3 {
    text-align: center;
    padding: 1% 0%;
}

.interessen ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}


.interessen li {
    background: linear-gradient(70deg, rgba(140, 163, 163, 0.8), rgba(76, 95, 95, 0.8));
    border-radius: 15px;
    padding: 0.95%;
    font-size: 1.1em;
    display: flex; 
    margin: 1%;

}

.fähigkeiten {
    display:flex;
    flex-direction: column;
    
}



.fähigkeiten ul{
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrlling: touch;
    white-space: nowrap;
    
}


.fähigkeiten li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background: linear-gradient(70deg, rgba(140, 163, 163, 0.8), rgba(76, 95, 95, 0.8));
  border-radius: 15px;
  padding: 0.95%;
  font-size: 1.1em;
}

.test {
  display: flex;
  flex-direction: column;
}



.kontakt {
    display: flex;
    flex-direction: column;
}

.kontakt h3 {
    margin-bottom: 5%;
}


.kontakt div {
    display: flex;
    justify-content: space-around;
}

.kontakt div div {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.mail img, .tele img, .insta img, .git img{
    width: 50px;
    background-color: rgba(140, 163, 163, 0.8);
    padding: 5.5%;
    margin-bottom: 6%;
    border-radius: 100%;
}


em {
    color: rgba(223, 219, 219, 0.863);
    text-decoration: underline;
}


em:hover {
    color: rgb(248, 248, 248);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.lebenslauf {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lebenslauf h2 {
    margin: 10px;
}

table td {
    border-bottom: 1px solid rgba(140, 163, 163, 0.8);
    padding: 6px 0px;
}

table {
    border-top: 1px solid rgba(140, 163, 163, 0.8);
    
}



    

